RFC 5077 / Session resumption / Implementation

I am looking into TLS and not a expert and while playing with mod_ssl I came 
across following implementation notice corresponding to session tickets: 

> Using them (session tickets) without restarting the web 
> server with an appropriate frequency (e.g. daily) compromises 
> perfect forward secrecy. [1][2]


They initializes the TLS stack with a random key that does not 
change for the life time of the process. Some servers run for 
"long" time and so "compromises perfect forward secrecy"

I wonder how hitch does this job? I do not see that a random 
key is passed (SSL_CTX_set_tlsext_ticket_keys): 

Does this means that it is not handled by hitch itself?

Is this "behaviour of key usage" completly on openssl's side?

Does openssl regenerate these keys (will the TLS stack be initialized more then once)?

Whould providing random keys proactively help in getting such keys regenerate?

Does the quote above also apply to hitch? 

Sorry for so many questions. Thanks!


[1] https://httpd.apache.org/docs/trunk/mod/mod_ssl.html#sslsessiontickets
[2] https://www.apache.org/dist/httpd/CHANGES_2.4
    (search for: Session ticket creation uses a random key)


RFC 7525, Section 3.4.: 
> "Ticket keys MUST be changed regularly, e.g., once every week, so as not to negate the benefits of forward secrecy ..."